################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aircraft-temp-monitoring-system/CopilotIndices/17.14.939.21063
/.vs/aircraft-temp-monitoring-system/FileContentIndex
/.vs/aircraft-temp-monitoring-system/CopilotIndices/17.14.995.13737
/.vs/aircraft-temp-monitoring-system/v17
/.vs
